{% extends "app/layout.html" %}

{% block content %}

<div class="header2"><h1>Свободное падение</h1></div>

{% load static %}
<div class="attraction" style="margin: 7px 0 0 0;">
    <div class="picturepost">
        <div>
            <img style="border-radius: 10px; margin: 0 0 12px 0;" src="{% static 'app/content/free.jpg'%} " alt="Свободное падение">
        </div>
        <div>
            <p class="text">
                «Все длиньше и длиньше» - думала Алиса, падая в пропасть» … 
                Сон кэролловской Алисы знаком многим. Ах, если бы можно было испытать такое падение наяву и не разбиться… 
                Смеем вас заверить, даже такая возможность найдет своего искателя в парке «Диво Остров». Вы подниметесь на высоту 60 метров, 
                а потом резко и без предупреждения упадете вниз, вынудив свое ошарашенное сознание устремиться вслед за вами. 
                Сильный положительный стресс и безграничный восторг вам обеспечены.
            </p>
        </div>
    </div>
</div>

{% endblock %}