{% extends "app/layout.html" %}

{% block content %}

<div class="header2"><h1>Крутые гонки</h1></div>

{% load static %}
<div class="attraction">
    <div class="picturepost">
        <div>
            <img style="border-radius: 10px; margin: 0 0 12px 0;" src="{% static 'app/content/gonki.jpg'%} " alt="Крутые гонки">
        </div>
        <div>
            <p class="text">
                Вы просто не можете упустить возможность лихо погонять на ярких автомобилях! 
                Элементарное управление, крики восторга и веселый смех – три кита, которые доставят Вас и ваших близких в страну 
                беззаботной радости и вечного праздника! За руль может сеть каждый в независимости от возраста и стажа вождения. 
                Крутые гонки – великолепный шанс подрифтовать, не опасаясь последствий.
            </p>
        </div>
    </div>
</div>

{% endblock %}