{% extends "app/layout.html" %}

{% block content %}

<div class="header2"><h1>Катапульта</h1></div>

{% load static %}
<div class="attraction" style="margin: 7px 0 0 0;">
    <div class="picturepost">
        <div>
            <img style="border-radius: 10px; margin: 0 0 12px 0;" src="{% static 'app/content/katap.jpg'%} " alt="Катапульта">
        </div>
        <div>
            <p class="text">
                Не всякий рискнет испытать на себе настоящие перегрузки бешеного ускорения. 
                Кто-то вполне удовлетворится рассказами барона Мюнгхаузена о его бесстрашном полете на пушечном ядре и спокойно пойдет пить чай. 
                Но есть и такие, кто примет вызов и взлетит на высоту 80 метров всего за 4 секунды, а после попадет в 
                центрифугу вращения на прямо-таки парализующей волю высоте, испытав ощущения, которые невозможно забыть ни при каких обстоятельствах.
            </p>
        </div>
    </div>
</div>

{% endblock %}