{% extends "app/layout.html" %}

{% block content %}

<div class="header2"><h1>Катамараны</h1></div>

{% load static %}
<div class="attraction" style="margin: 20px 0 0 0;">
    <div class="picturepost">
        <div>
            <img style="border-radius: 10px; margin: 0 0 12px 0;" src="{% static 'app/content/katam.jpg'%} " alt="Катамараны">
        </div>
        <div>
            <p class="text">
                Снискавшие заслуженную популярность неспешные прогулки по водной глади озера на комфортных катамаранах, 
                приобрели в нашем парке новое прочтение. Теперь вы сможете развернуть настоящую водную баталию. Мы предлагаем Вам всей 
                семьей устроить водную перестрелку. Для этой цели мы оснастили катамараны специальными устройствами, которые превратят 
                размеренный променад в настоящее водное сафари. Впрочем, можно обойтись и без стрельбы, ведь романтические прогулки тоже 
                никто не отменял...
            </p>
        </div>
    </div>
</div>

{% endblock %}