{% extends "app/layout.html" %}

{% block content %}

<div class="header2"><h1>Колесо обозрения</h1></div>

{% load static %}
<div class="attraction" style="margin: 10px 0 0 0;">
    <div class="picturepost">
        <div>
            <img style="border-radius: 10px; margin: 0 0 12px 0;" src="{% static 'app/content/koleso.jpg'%} " alt="Колесо обозрения">
        </div>
        <div>
            <p class="text">
                На Колесе Обозрения город явит свое величие с высоты птичьего полета. 
                Один из самых романтичных аттракционов, придуманных нашей цивилизацией, откроет перед Вами перспективу улиц и парков, 
                искрящуюся воду каналов и безупречную архитектуру старого центра. Грандиозная панорама великого города очарует 
                Ваш взор и покорит Ваше сердце. Комфортные кабины неспешно движутся по кругу, позволяя Вам и Вашим спутникам сполна 
                насладиться видом одного из самых прекрасных городов мира.
            </p>
        </div>
    </div>
</div>

{% endblock %}