{% extends "app/layout.html" %}

{% block content %}

<div class="header2"><h1>Шейкер</h1></div>

{% load static %}
<div class="attraction">
    <div class="picturepost">
        <div>
            <img style="border-radius: 10px; margin: 0 0 12px 0;" src="{% static 'app/content/shaker.jpg'%} " alt="Шейкер">
        </div>
        <div>
            <p class="text">Оригинальный коктейль из ощущений, в котором искусно смешаны скорость, звук и вращение в трех плоскостях.
                Аттракцион «Шейкер» обладает способностью вытеснять из сознания все лишнее и заполнять его безбрежной радостью,
                с легкой примесью возбуждения и страха. Мажорные аккорды звукового сопровождения и невообразимые
                световые эффекты станут той самой вишенкой на торте из впечатлений вашего дня.</p>
        </div>
    </div>
</div>

{% endblock %}